<div class="row">
  <div class="col-2 mySideBar">
    <div class="container flex marginTB">
      <div class="logo">
        <a class="basic-link logo-testo" routerLink="/">
          <i class="fab fa-spotify fa-2x" aria-hidden="true"></i>Spotify
        </a>
      </div>
      <div class="search">
        <a class="common-link logo-testo2" routerLink="/search">
          <i class="fas fa-search" aria-hidden="true"></i> Search
        </a>
      </div>
      <div class="search">
        <a class="common-link logo-testo2" routerLink="/">
          <i class="far fa-folder" aria-hidden="true"></i> Album
        </a>
      </div>
    </div>

  </div>
  <div class="col-10 homeComponent">
    <router-outlet></router-outlet>
  </div>
</div>