<div class="row">
    <div class="col-xs-12">
        <form #authForm="ngForm">
            <div class="form-group">
                <label for="artista">E-Mail</label>
                <input type="text" id="artista" class="form-control">
            </div>
            <div class="form-group">
                <label for="album" >Inserisci Album</label>
                <input type="text" id="album" class="form-control">
            </div>
            <div>
                <button class="btn btn-primary">Aggiungi Artista</button>
            </div>
        </form>
    </div>
</div>